:root, .dark, [data-theme='dark'] {
  --surface-container: #1e2020;
  --on-surface-variant: #c1c7d0;
  --on-primary: #003353;
  --tertiary-container: #da7700;
  --on-secondary-container: #b5b5b5;
  --surface: #121414;
  --on-primary-fixed: #001d32;
  --surface-container-high: #282a2b;
  --secondary-fixed: #e3e2e2;
  --surface-container-lowest: #0c0f0f;
  --tertiary-fixed: #ffdcc3;
  --on-background: #e2e2e2;
  --background: #121414;
  --secondary-fixed-dim: #c7c6c6;
  --secondary: #c7c6c6;
  --on-primary-fixed-variant: #004a75;
  --primary: #96ccff;
  --outline-variant: #41474f;
  --primary-fixed-dim: #96ccff;
  --error: #ffb4ab;
  --on-tertiary: #4d2600;
  --surface-variant: #333535;
  --tertiary-fixed-dim: #ffb77d;
  --surface-bright: #38393a;
  --error-container: #93000a;
  --on-tertiary-fixed: #2f1500;
  --inverse-primary: #206393;
  --on-secondary-fixed: #1b1c1c;
  --surface-container-highest: #333535;
  --surface-container-low: #1a1c1c;
  --on-primary-container: #002c48;
  --on-error-container: #ffdad6;
  --on-tertiary-fixed-variant: #6e3900;
  --tertiary: #ffb77d;
  --on-error: #690005;
  --on-tertiary-container: #432100;
  --on-secondary: #303031;
  --inverse-surface: #e2e2e2;
  --surface-dim: #121414;
  --on-secondary-fixed-variant: #464747;
  --secondary-container: #464747;
  --on-surface: #e2e2e2;
  --primary-fixed: #cee5ff;
  --surface-tint: #96ccff;
  --primary-container: #5b96c9;
  --outline: #8b919a;
  --inverse-on-surface: #2f3131;
}

.light, [data-theme='light'] {
  --surface-container: #f0f1f1;
  --on-surface-variant: #44474e;
  --on-primary: #ffffff;
  --tertiary-container: #ffdead;
  --on-secondary-container: #1d1d1d;
  --surface: #f9f9f9;
  --on-primary-fixed: #001d32;
  --surface-container-high: #e2e2e2;
  --secondary-fixed: #41474f;
  --surface-container-lowest: #ffffff;
  --tertiary-fixed: #2f1500;
  --on-background: #1a1c1c;
  --background: #fdfdfd;
  --secondary-fixed-dim: #44474e;
  --secondary: #5d5e5e;
  --on-primary-fixed-variant: #004a75;
  --primary: #00639b;
  --outline-variant: #c4c7cc;
  --primary-fixed-dim: #00639b;
  --error: #ba1a1a;
  --on-tertiary: #ffffff;
  --surface-variant: #e0e2e5;
  --tertiary-fixed-dim: #6e3900;
  --surface-bright: #f9f9f9;
  --error-container: #ffdad6;
  --on-tertiary-fixed: #ffdcc3;
  --inverse-primary: #96ccff;
  --on-secondary-fixed: #ffffff;
  --surface-container-highest: #dce3e9;
  --surface-container-low: #f7f9fb;
  --on-primary-container: #ffffff;
  --on-error-container: #410002;
  --on-tertiary-fixed-variant: #ffb77d;
  --tertiary: #904d00;
  --on-error: #ffffff;
  --on-tertiary-container: #ffffff;
  --on-secondary: #ffffff;
  --inverse-surface: #2f3131;
  --surface-dim: #dedede;
  --on-secondary-fixed-variant: #c7c6c6;
  --secondary-container: #dee3eb;
  --on-surface: #1a1c1c;
  --primary-fixed: #004a75;
  --surface-tint: #00639b;
  --primary-container: #004a77;
  --outline: #74777f;
  --inverse-on-surface: #f1f0f0;
}